/* CSS */

/* Root */
:root {
	--headerBar: #4A3;
	--btnHilight: #072;
	--btnBorder: var(--headerTop);
	--menuBorder: #333;
	--headerTop: #029;
	--mainColor: #EFF;
	--btnText: #444;
	--selectTxt: white;
	--selectHi: #392;

	--h1font: "PT Sans", sans-serif;
	--h2font: "PT Sans", sans-serif;
}

/* Tags */
body {
	background-color: var(--mainColor);
	font-family: "PT Sans", sans-serif;
	margin: 0px;
}

h1 {
	font: 2em var(--h1font);
	margin: 0;
}

h2 {
	color: #555;
	font: italic 1.3em "PT Sans", sans-serif;
	margin: 0;
}

/* Classes */


/* IDs */
#header {
	background-color: var(--headerTop);
	color: white;

	padding: 10px 0;
	margin: 0px;

	text-align: center;
	vertical-align: middle;
}

#menubar {
	border-top: 2px solid var(--menuBorder);
	border-bottom: 2px solid var(--menuBorder);
	height: 50px;
	background-color: var(--headerBar);
}

#menubar ul {
	list-style-type: none;
	margin: 0;
    padding: 0;

	text-align: center;
	vertical-align: middle;
}

#menubar li {
	box-sizing: border-box;

    display: inline-block;
    padding: auto;

    height: 50px;
    width: 25%;

    margin: 0;

    border-right: 1px solid var(--btnBorder);
    border-left: 1px solid var(--btnBorder);
    background-color: var(--headerBar);

    color: var(--btnText);
    font: 1.5em var(--h2font);
    text-transform: capitalize;

    transition: background-color 0.2s, color 0.2s;
    line-height: 50px;
}
#menubar li:last-child {
	border-right: none;
}
#menubar li:first-child {
	border-left: none;
}
#menubar li::first-letter {
	font-size: xx-large;
}
#menubar li:hover {
	background-color: var(--btnHilight);
	color: white;
}

#subheader {
	margin: 0px;
	padding: 10px 10px;
}


/* Settings */
::selection {
	color: var(--selectTxt);
	background-color: var(--selectHi);
}
::-moz-selection { /* Code for Firefox */
    color: var(--selectTxt);
	background-color: var(--selectHi);
}